.header {
  font-size: 40px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 20px;
}

.link {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.home {
  text-align: center;
  font-size: 35px;
}

#home {
  font-size: 60px;
  line-height: 100px;
  color: black;
}

.user_dashboard {
  height: 100px;
  background: #0276FD;
}
.container {
  width: 60%;
  background: #eeeeee;
}
.bold {
  font-weight: bold;
}
.display {
  margin-bottom: 5px;
}

.name {
  font-size: 30px;
  text-align: center;
}

.img {
  height: 200px;
}

.img_cont {
  text-align: center;
}

.description {
  padding: 20px;
  text-align: center;
  font-size: 20px;
}

/*.home_cont {
 padding-bo
}*/

.others {
  font-size: 20px;
  text-align: center;
  padding: 23px;
}

.otherUser {
  font-size: 15px;
  color: blue;
  cursor: pointer;
}

.wide {
  width: 90%;
}

.home_left {
  float: left;
  width: 65%;
}

.home_right {
  float: left;
  width: 35%;
}

.cf:after,
.cf:before {
  display: table;
  content: '';
}

.cf:after {
  clear: both;
}